{% extends 'user/base.html' %}
{% load static %}

{% block head_title %}
    <title>Sign Up</title>
{% endblock head_title %}

{% block content %}
<script src="{% static 'user/js/sign_up.js' %}" type="text/javascript"></script>
<br><h1 align="center">회원 가입</h1>
<div class="container">
{% include 'user/social/social_login_panel.html' with panel_name="소셜회원가입" %}
</div>
<br>
<div class="container">
    <form name="Signup_Form" action="." method="post"> {% csrf_token %}
        {% for message in messages %}
        <div class="row justify-content-center">
            <div class="col-md-10">
                {% if message.tags == 'create_eduser error' %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">이메일</span>
                    </div>
                    {{ form.email1 }}
                    <span class="input-group-text">@</span>
                    {{ form.email2 }}
                    {{ form.select_email }}
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">비밀번호</span>
                    </div>
                    {{ form.password1 }}
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">비밀번호 확인</span>
                    </div>
                    {{ form.password2 }}
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <button class="btn btn-primary" type="submit">다음</button>
                <button class="btn btn-danger" onclick="history.back(-1);">취소</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
