<!DOCTYPE html>
{% extends 'user/base.html' %}
{% load static %}

{% block head_title %}
<title>Sign Up</title>
{% endblock head_title %}


{% block content %}
<h1 align="center">세부 내용 입력</h1><br>
<div class="container" style="border:1px solid #cecece;"><br>
    <form name="Profile_Form" action="." method="post"> {% csrf_token %}
        {% for message in messages %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% if message.tags == 'create_profile error' %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">직업</span>
                    </div>
                    {{ form.group }}
                </div>
            </div>
        </div><br>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    {{ form.phone }}
                </div>
            </div>
        </div><br>
        <div class="row justify-content-left">
            <div class="col text-center">
                <div class="form-check">
                    {{ form.receive_email }}
                    {{ form.receive_email.label }}
                </div>
            </div>
        </div><br>
        <div class="row justify-content-left">
            <div class="col text-center">
                <button class="btn btn-primary" name="next" type="submit">다음</button>
                <a href="{% url 'user:temp_delete' pk=pk %}">
                    <button type='button' class="btn btn-danger" name="cancel" >취소</button>
                </a>
            </div>
        </div>
        <br>
    </form>
</div>
{% endblock content %}

